/*Color palate indicated by variables*/
:root {
    --dark: #1E332E;
    --medium: #4C615C;
    --light: #79948E;
    --bright-teal: #69FADA;
    --dark-teal: #7BC7B7; 
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: var(--medium);
}
header h1 {
    display: inline-block;
    color: var(--dark);
    background-color: var(--dark-teal);
}
header nav {
    float: right;
    color: var(--dark);
}

header nav a{
    color: var(--dark-teal)
}
header nav ul{
    list-style-type: none;
}
header nav ul li{
    display: inline-block;
}
.hero h2 {
 display: block;
 text-align: right;
 color: var(--dark);
 background-color: var(--dark-teal);
}
main, h3, p, a{
    color: var(--dark)
}