header h1 {
    display: inline-block;
}
header nav {
    float: right;
}
header nav ul{
    list-style-type: none;
}
header nav ul li{
    display: inline-block;
}
.hero h2 {
 display: block;
 text-align: right;
}